viz.py
__pycache__/similarity.cpython-38.pyc
__pycache__/categories.cpython-38.pyc
__pycache__/levensthein.cpython-38.pyc
__pycache__/plot.cpython-38.pyc
__pycache__/similarity.cpython-38.pyc
__pycache__/levensthein.cpython-38.pyc
__pycache__/similarity.cpython-38.pyc
